## Ignore specific files and directories.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
test-file.txt

# Specific directories
*/node_modules/